* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fced9f;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 35px;
}

.card {
    background-color: white;
    width: 320px;
    height: 410px;
    text-align: center;
    padding: 28px 18px;
    border-radius: 15px;
}

.profile {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #eac405b5;
    margin-bottom: 15px;
    padding: 2px;
}

.card h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
}

.stars {
    color: #fce700;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 18px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

button {
    width: 135px;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
}

.read {
    background-color: white;
    border: 2px solid #f7fd88;
    color: #666;
    border-radius: 10px;
}

.subscribe {
    background-color: #ffee6f;
    border: 2px solid #dedb13;
    color: white;
    border-radius: 10px;
}